*{
    font-family: 'Comfortaa', cursive;
    box-sizing:border-box;
}

html{
    margin:0;
    padding:0;
    overflow-x:hidden;
    height:100%;
}

.vertical-align{
    height:100%;
    display:inline-block;
    vertical-align: middle;
}

body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

/* MAIN-HEADER */

.main-header{
    margin:0;
    padding:0;
    position:relative;
    width:100%;
    height:20%;
    z-index: 120;
    border-bottom: rgba(0,0,0,0.75) solid 0.25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.main-header__div1{
    height:100%;
    line-height:100%;
    vertical-align: middle;
    width:12.5%;
    display:inline-block;
    border-right: rgba(0,0,0,0.75) solid 0.25px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.main-headers__logo img{
    list-style: none;
    width:100%;
    border:none;
    text-decoration:none;
    display:inline-block;
    vertical-align: middle;
}

.navigation-bar{
    display:inline-block;
    width:calc(100% - 12.5%);
    height:100%;
    margin:0;
    padding:0;
    vertical-align: middle;
}

.main-nav{
    display:inline-block;
    width: 100%;
    vertical-align: top;
    height:30%;
    background-color:black;
    text-align:right;
}

.main-nav__items{
    margin:0;
    padding:0;
    list-style:none;
    height:100%;
    width:100%;
}

.main-nav__item{
    display:inline-block;
    height:100%;
    width:calc(100%/7);
    vertical-align: middle;
    text-align:center;
}

.main-nav__item a{
    text-decoration:none;
    color:white;
    font-weight:bold;
    width:100%;
    position:relative;
    vertical-align: middle;
    display:inline-block;
    line-height:5vh;
}

.main-nav__item a:after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    visibility: hidden;
    background-color: white;
    -webkit-transition: all .1s ease;
    transition: all 0.3s ease;  
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
}

.main-nav__item a:hover:after{
    visibility: visible;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

/* FASHION NAV */
.fashion-nav{
    display:inline-block;
    height:70%;
    vertical-align: bottom;
    width:100%;
    text-align:right;
}

.fashion-nav__items{
    position:relative;
    font: inherit;
    margin: 0;
    height:100%;
    text-align:right;
}

.fashion-nav__item{
    display:inline-block;
    vertical-align: middle;
    font: inherit;
    cursor: pointer;
    width:calc(100%/5);
}

.fashion-nav__item a{
    list-style: none;
    text-decoration: none;
    font-size:24px;
    font-weight:bolder;
    text-align:center;
    display:block;
    color:black;
    width:100%;
}

.fashion-nav__item:hover > a,.fashion-nav__item:active > a{
    color:rgb(213,62,25);
}

.fashion-nav__item:focus .dropdown-content,
.fashion-nav__item:hover .dropdown-content{
    outline:none;
    visibility:visible;
    opacity:1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.1s;
}

.fashion-nav__item__subnav{
    list-style:none;
    text-decoration:none;
    margin:16px 0;
    padding:0;
    display:none;
}

.dropdown-content{
    visibility:hidden;
    position:absolute;
    padding-top:16px;
    width:20%;
    background-color:white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    transform: translateY(-2em);
    opacity: 0;
}

.column {
    float:left;
    widows: 22.22%;
    padding:10px;
    background-color:white;
    height:250px;
}

.column a{
    border:none;
    font-weight:normal;
    font-size:16px;
}

.column a:hover,.column a:active{
    text-decoration:underline solid rgb(213,62,25);
    color:rgb(213,62,25);
}

/* SEARCH BOX */

.searchbox{
    display:inline-block;
    text-align:left;
    width:20%;
    height:100%;
}

#myInput{
    width:90%;
}

#myInput[type=text]{
    padding: 1.5% 1.5%;
    font-size: 3vh;
    line-height: 4vh;
}

/* FOOTER */

footer{
    width:100%;
    background:rgb(82,66,62);
    color:white;
    border-top: solid rgb(230,85,22) 2.5px;
}

.footer-copyright{
    display:inline-block;
    vertical-align: middle;
    margin-left:64px;
}

.footer-nav{
    display:inline-block;
    width:calc(100% - 424px);
    vertical-align: middle;
}

.footer-nav__items{
    text-align:right;
    padding-right:150px;
}

.footer-nav__item{
    text-decoration:none;
    list-style:none;
    display:inline-block;
    margin:0;
    margin-right:80px;
    font-size:20px;
    font-weight:bold;
    padding:0;
    vertical-align:top;
    text-align:left;
}

.footer-nav__subitems{
    text-decoration:none;
    list-style:none;
    text-align:left;
    margin:0;
    margin-top:8px;
    padding:0;
    border-top:solid rgb(230,85,22) 1px;

}

.footer-nav__subitem{
    margin-top:4px;
}

.footer-nav__subitem a{
    text-decoration:none;
    font-size:16px;
    font-weight:normal;
    color:white;
}

.footer-nav__subitem a:hover,.footer-nav__subitem a:active{
    color:rgb(160,166,216);
}

